<?xml version="1.0"?>
<model>
  <name>Iris with multi camera </name>
  <version>1.0</version>
  <sdf version='1.5'>iris_multi_camera_1.sdf</sdf>

  <author>
   <name>zlh</name>
   <email>Index_Mark@163.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with multi cameras.
  </description>
</model>
