<?xml version="1.0"?>
<model>
  <name>Plane_multi_cam</name>
  <version>1.0</version>
  <sdf version='1.5'>plane_multi_cam.sdf</sdf>

  <author>
   <name>zlh</name>
   <email>index_mark@163.com</email>
  </author>

  <description>
    This is a model of a standard plane with multi cameras.
  </description>
</model>
